<!-- Цифры -->
<div class="section-blue section-big section-offset info">
	<div class="container">
		@@if (home){
		<!-- О компании -->
		<div class="who">
			<div class="container">
				<div class="who-wrapper">
					<div class="who__left">
						<div class="who__text">
							<div class="title-2">Кто мы?</div>
							<blockquote>
								<p>«Геоцентр-Консалтинг» – ведущий разработчик в сфере цифровой картографии и ГИС-технологий. Наши данные лежат в основе крупнейших картографических сервисов в российском интернете.</p>
							</blockquote>

							<p>«Геоцентр-Консалтинг» обеспечивает полный спектр услуг в области геоинформатики с использованием собственных запатентованных разработок.
								Основной продукт – геоинформационная система RuMap-GIS, включающая RuMap Данные, RuMap Сервисы и демо-площадку Геопортал RuMap, с помощью которых решаются основные задачи, связанные с картографией, навигацией и геоданными.</p>

							<p>Наша компания постоянно развивается, использует новые направления и решения в области геоинформационных технологий, включая использование искусственного интеллекта.</p>
						</div>
					</div>
					<video poster="assets/img/news/poster.webp" preload="none">
						<source src="assets/img/1.mp4" type="video/mp4">
					</video>
				</div>
				<div class="section-top flex justify-center">
					<a href="about.html" class="button button_white button_auto who__button">Узнать больше</a>
				</div>
			</div>
		</div>
		}

		<div class="info__bg-wrapper">
			<div class="info__bg"></div>
		</div>

		<div class="section__top">
			@@if (home){
			<div class="title-2 title-line title-center">RuMAP-GIS в цифрах</div>
			}

			@@if (home == false){
			<div class="title-2 title-line title-center">«Геоцентр-Консалтинг» в&nbsp;цифрах</div>
			}
		</div>
		<div class="info-wrapper">
			<div class="wow fadeIn hover-translate info__item" data-wow-delay='.2s'>
				<div class="info__item-top">Более</div>
				<div class="info__item-title"><span data-digits-counter>2.5</span> млн</div>
				<div class="info__item-subtitle">километров автодорог</div>
				<img src="assets/img/info/1.svg" class="info__item-img" alt="" loading="lazy" decoding="async">
			</div>
			<div class="wow fadeIn hover-translate info__item" data-wow-delay='.25s'>
				<div class="info__item-top">Около</div>
				<div class="info__item-title"><span data-digits-counter>160</span> тыс</div>
				<div class="info__item-subtitle">километров автодорог</div>
				<img src="assets/img/info/2.svg" class="info__item-img" alt="" loading="lazy" decoding="async">
			</div>
			<div class="wow fadeIn hover-translate info__item" data-wow-delay='.3s'>
				<div class="info__item-top">Более</div>
				<div class="info__item-title"><span data-digits-counter>17</span> млн</div>
				<div class="info__item-subtitle">адресов</div>
				<img src="assets/img/info/3.svg" class="info__item-img" alt="" loading="lazy" decoding="async">
			</div>
			<div class="wow fadeIn hover-translate info__item" data-wow-delay='.35s'>
				<div class="info__item-top">Более</div>
				<div class="info__item-title"><span data-digits-counter>500</span></div>
				<div class="info__item-subtitle">выполненных контрактов</div>
				<img src="assets/img/info/4.svg" class="info__item-img" alt="" loading="lazy" decoding="async">
			</div>
			<div class="wow fadeIn hover-translate info__item" data-wow-delay='.4s'>
				<div class="info__item-top">Более</div>
				<div class="info__item-title"><span data-digits-counter>25</span> лет</div>
				<div class="info__item-subtitle">опыта</div>
				<img src="assets/img/info/5.svg" class="info__item-img" alt="" loading="lazy" decoding="async">
			</div>
		</div>
	</div>
</div>
